{% extends 'blog/index.html' %}
{% block content %}
{% load static %}
<div class="card">
    <div class="card-header">
        <div class="container">
            <img class="rounded-circle account-img" src="{% static 'blog/kamal.jpg' %}" height=75, width=75>
            <p>Hi my name is Kamal Maurya. A softwere, web developer and Django ethuatist.
                i have bechleor degree in Computer Science and a master degree in Computer Applications.
                i designed and developed this web application just for fun
            </p>
        </div>
    </div>
</div>
{% endblock content %}