{% extends 'blog/index.html' %}
{% block content %}
<div class="card">
    <div class="card-header">
        <div class="container">
            <form method="get">
                <input type="search" name="q" placeholder="Search by name or quote..." class="form-control" />
            </form>
        </div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        <div class="container">
            <li>{{ results }}</li>
            </div>
        </div>
    </div>
  {% endblock %}